<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="turtlebot3" />

  <!-- start simulation -->
  <include file="$(find tuda_turtlebot3_gazebo)/launch/turtlebot3.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="with_arm" value="False" />
    <arg name="start_onboard" value="False" />
    <arg name="ground_truth" default="False" />
    <arg name="paused" value="False" />
    <arg name="gazebo_gui" value="False" />
  </include>

  <!-- launch ui -->
  <include file="$(find turtlebot3_diff_drive_exercise)/launch/ui.launch">
    <arg name="ns" value="$(arg robot_name)" />
  </include>
</launch>
