<?xml version="1.0"?>

<launch>
  <arg name="ns" default="turtlebot3" />

  <!-- launch RViz -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find turtlebot3_diff_drive_exercise)/config/diff_drive.rviz" ns="$(arg ns)" />

  <!-- launch rqt; use group in order to declare private parameters -->
  <group>
    <param name="~max_wheel_vel" value="5.0" />
    <param name="~max_linear_vel" value="0.17" />
    <param name="~max_angular_vel" value="2.0" />

    <include file="$(find turtlebot3_ui_launch)/launch/rqt.launch">
      <arg name="ns" value="$(arg ns)" />
      <arg name="rqt_args" value="" />
      <arg name="rqt_perspective_path" value="$(find turtlebot3_diff_drive_exercise)/config/diff_drive.perspective" />
    </include>
  </group>
</launch>
